<div id="categories">
  <%= link_to "Upload Image", upload_path %> - 
	<%= link_to_unless_current "Most Recent", images_path %> -
	<%= link_to_unless_current "Top Votes", :controller => :image, :action => :votes %>
  
</div>
<% @images.each do |image| %>
    <div id='image_post'>
      <div id='voting_layout' class="halign">
          <% if image.upvote_exists(current_user) %>
              <%= image_tag("up_voted.png") %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= image_tag("down_arrow.png") %>
          <% elsif image.downvote_exists(current_user) %>
                <%= image_tag("up_arrow.png") %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= image_tag("down_voted.png") %>
          <% else %>
                <%= link_to image_tag("up_arrow.png", :mouseover => "up_voted.png"), {:action => :upvote, :id => image.id} %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= link_to image_tag("down_arrow.png", :mouseover => "down_voted.png"), {:action => :downvote, :id => image.id} %>
          <% end %>
         </div>
      </div>
      <div id='image_post' class="halign">

	<span id='image_top'>
		<span id='image_username'>
			<%= profile_link(image.user) %>
		</span>
		<span id='image_caption'>
			<%= image.caption %>
		</span>
	</span>
	<div id='image_square' class='image_resizer'>
    <div style="display:block">
		<%= link_to(image_tag(image.image.url(:large)), image.image.url ) unless image.image.nil? %>
    </div>
      <span id='image_time'>
      		Posted <%= time_ago_in_words(image.created_at) %> ago.
            <% if(image.user == current_user) %>
            <%=   link_to '[delete image]', {:action => :delete, :id => image.id, :confirm => 'Are you sure you want to delete this image?'} %>
            <% end %>
            <%=  link_to " [report]",{:action => :flagPicture, :id => image.id}  %> 
      	</span>
	</div>
    <div id="comments">
      <% if !current_user.nil? %>
      <div id='new_comment'>
        <%=  form_for @comment, :url => {:action => :new_comment} do |f| %>
            <%= f.text_field :comment_text %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :image_id, :value => image.id %>
            <%= f.submit "Comment" %>
        <% end %>

      </div>
       <% end %>
        <%  image.recent_comments.each do |comment| %>
        <div id='comment'>
			<div id='comment_vote'>
				<% if comment.upvote_exists(current_user) %>
		               <%= Vote.comment_score(comment.id) %>
						<div>
						<%= image_tag("up_voted.png", :size => "15x15") %><br><%= image_tag("down_arrow.png", :size => "14x14") %>
						</div>
		          <% elsif comment.downvote_exists(current_user) %>
		                <%= Vote.comment_score(comment.id) %>
						<div>
						<%= image_tag("up_arrow.png", :size => "15x15") %><br><%= image_tag("down_voted.png", :size => "15x15") %>
						</div>
		          <% else  %>
		                <%= Vote.comment_score(comment.id) %>
						<div>
						 <%= link_to image_tag("up_arrow.png", :mouseover => "up_voted.png", :size => "15x15"), {:action => :comment_upvote, :id => comment.id} %><br><%= link_to image_tag("down_arrow.png", :mouseover => "down_voted.png", :size => "15x15"), {:action => :comment_downvote, :id => comment.id} %>
						</div>
		          <% end %>
			</div>
            <div id='comment_top'><span id='comment_username'><%=   profile_link(comment.user) %></span><span id='comment_time'><%=  time_ago_in_words(comment.created_at) %>            
            <% if(comment.user == current_user) %>
            <%=   link_to '[delete comment]', {:action => :delete_comment, :id => comment.id} %>
            <% end %>
            </div>
            </span>

            <div id='comment_text'><%=  comment.comment_text %></div>
        </div>
        <% end %>
    </div>
</div>
<br>
<% end %>

