<% if @images.blank? %>
  
<% else %>
  <% @images.each do |image| %>
    <span id="<%=image.id%>">
  	  <%= link_to(image_tag(image.image.url(:thumb)), image.image.url ) %>
  	</span>
  <% end %>
<% end %>