<div id="signup">
<h1>Signup</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Uh oh!</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          -<%= message %><br>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  
    <p><%= f.label :name, "Name "%><br>
    <%= f.text_field :name %></p>

    <p><%= f.label :password, "Password (Case Sensitive)" %><br>
    <%= f.password_field :password %></p>
  
	
    <p><%= f.label :password_confirmation, "Retype Password"%><br>
    <%= f.password_field :password_confirmation %></p>
	
  
    <p><%= f.label :email, "Email (Optional)" %><br>
    <%= f.email_field :email %></p>

  <p class="button"><%= f.submit %></p>
<% end %>
</div>