<div id="categories">
	<%= link_to_unless_current "Liked Photos", "/users/liked_photos/" + @user.name.to_s %> |
	<%= link_to_unless_current "Uploaded Photos", "/users/uploaded_photos/" + @user.name.to_s %>
</div>

<div id="profile_content">
	<div id="profile_left">
	  <div id="profile_likes">
	    <% if @category == :liked %>
	      <h2>Liked Photos</h2>
      <% elsif @category == :uploaded %>
        <h2>Uploaded Images</h2>
      <% end %>
      <div id="images">
        <div class="page">
          <%= render 'users/liked_images', :images => @images %>
        </div>
      </div>
    </div>
	</div>
	<div id="profile_right">
		<span id="profile_username"><%= @user.name %></span>
	<!--	<div id="profile_user">
		  <% if current_user == @user %>
  		  <%= text_area_tag 'description', @user.description, :onKeyDown => 'limitText(1000);', :onKeyUp => 'limitText(1000);', :class => 'description', :size => '20x10', :placeholder => "Enter a description of yourself here", :style => 'resize:none;' %>
  		  <br> <font size="1">(Maximum characters: 1000)<br> You have <input readonly type="text" id="countdown" size="3"> characters left.</font></br>
  		  </div>
  		  <%= button_tag 'save', :id => 'description_save', :style => 'float:right'%>
  		<% else %>
  		  <%= text_area_tag 'description', @user.description, :class => 'description', :size => '20x10', :readonly => 'true', :style => 'resize:none; border:none;' %>
  		<% end %>
		</div> -->
	</div>
</div>


<script>
//function that determines how many more characters can be typed.  Pass in the character limit (set above in the description text area in the onKeyDown area) and truncates text to fit the limit
//if the text limit wants to be changed change the number passed in the onKeyUp for text_area_tag as well as the text 'Maximum characters: 1000'
function limitText(limitNum) {
	if ($('#description').val().length > limitNum) {
	  var text = $('#description').val();
		$('#description').val(text.substring(0, limitNum));
	} else {
		$('#countdown').val(limitNum - $('#description').val().length);
	}
}
(function() {
  var page = 1,
      loading = false;
      category = "<%= @category %>";
      url = "";
  if(category == "liked")
    url = "/users/liked_photos/<%= @user.name %>";
  else
    url = "/users/uploaded_photos/<%= @user.name %>";
    
  
  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 1000;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: url + '?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function(data) {
          if(data.length > 0){
            $(window).sausage('draw');
          }
          loading=false;
        }
      });
    }
  });

  $(window).sausage({
           content: function (i, $page) {
               return '';
       }
   });
}());
$(document).ready(function() {
  
  $('#description_save').click(function(){

    var description = $('#description').val();
    $.ajax({
      url: "/users/description",
      type: "POST",
      data: {username : "<%= @user.name %>", text : description},
      dataType: "html"
    }).done(function() { alert("Description Saved"); })
      .fail(function() { alert("Error while saving.  Please try again."); });
  });
});
</script>