<div id="navbar_right">

  		<% if current_user %>
    		<span id='image_username'><%= profile_link(current_user) %></span> -
    		<%= link_to "Logout", logout_path %> -
  		<% else %>
    		<%= link_to "Signup", signup_path %> -
    		<%= link_to "Login", login_path %>
  		<% end %>

</div>
