/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
#navbar_right {

font-family: lucida grande, sans-serif;
color: #9f9f9f;
font-size: 15px;	
font-weight: bold;
height: 28px;
background-color: white;
background-color: white;

margin-top: 50px;
margin-right: 20px;
margin-bottom: auto;
margin-left: auto;
min-height: 20px;
float: right;

}

#comment_time{
font-family: lucida grande; 
color: #b2b1b2;
font-size: 12;
}
#comment_vote {
	float: left;
	margin-right: 20px;
	text-align: center;
}
#profile_content {

}
#profile_left {
	width: 550px;
	height: 300px;
	position: relative;
	float: left;
}
#profile_likes {

}
#profile_right {
	position: relative;
	float: right;
}
#profile_user {
}
#comments {
    display: block;
    margin-top: 5px;
    padding: 20px;
    order-radius: 10px;
    	-moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
}
#new_comment form {
    width: 100%;
}
#new_comment input {
    background-color: white;
    border: 1px solid;
    color: #9f9f9f;
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
}
#comment {
    padding: 2px;
    margin-bottom: 5px;
	min-height: 70px;
}
#comment_username {
	font-family: lucida grande,sans-serif; 
	color: #3c8cfa;
	font-size: 12;
    margin-right: 5px;
    font-weight: bold;
}
#comment_top {
    font-size: 14px;
    font-family: Arial,sans-serif;
    margin-bottom: 4px;
}
#comment_text{
	font-family: lucida grande; 
	color: #9f9f9f;
	font-size: 12;
    margin-bottom: 3px;
}

#banner img {
	width: 100px;
}
#banner_img img{
    width: 226px;
	left: 0px;
	position: absolute;
}
#main {
	width: 750px;
	background-color: white;
	padding: 25px;
	padding-top: 45px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-height: 150px;
}

#categories {
	font-family: lucida grande;
	color: #9f9f9f;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#categories { 
	font-weight:bold;
	font-family: lucida grande; 
	color: #3c8cfa;
	font-size: 15;
 }
#categories a { font-weight:normal; }

#image_post {
	text-align: left;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	max-width: 700px;
	background-color: white ;
	padding: 5px;
	position: relative;
    margin-left: 0px;
}

#voting_layout {
    margin-left: -50px;
    margin-top: 200px;
}

#flagging_layout {
    color: #FFFFFF;
    text-align: left;
    margin-left: -70px;
    margin-top: 180px;
}

#flagging_layout:hover {
    color: #FF4040;
    margin-left: -70px;
    margin-top: 200px;
}

.halign{
    position: absolute;

}
#image_voting {
	float: right;
}

#image_square {
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	margin: 0;
	line-height: 0;
	min-height: 10px;
	max-width: 700px;

}
#image_square img {
	max-width: 700px;
}
#image_username {
	color: #3c8cfa;
	padding: 4px;
	size: 14;
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	font-family: lucida grande, sans-serif;
}
#image_caption {
	padding: 4px;
	padding-bottom: 5px;
	size: 14;
	margin-top: 5px;
	font-size: 12px;
	padding: auto;
	color: #9f9f9f;
	font-family: lucida grande,sans-serif;
}
#image_time {
	background-color: white;
	padding: 3px;
	padding-bottom: 9px;
	size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	padding: auto;
	color: #b2b1b2;
	float: right;
	font-family: lucida grande,sans-serif;
}
#signup {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	width: 400px;
	background-color: white ;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: black;
	font-size: 16px;
	border: 1px solid black;
}

#signup input {
background-color: white;
border: 1px solid #444442;
color: black;
font-size: 1.2em;
padding: 5px;
margin: 5px;
margin-left: 0px;
width: 380px;
}
.error_messages {
	padding: 0px;
	font-family: sans-serif;
	word-spacing: normal;
	padding-bottom: 10px;
}
.field_with_errors {

	padding: 0px;
	margin: 0px;
}
.field_with_errors label {
	font-weight: bold;
	color: red;
}

span.sausage-span{
  display: none;
}

#signup p{
	font-family: sans-serif;
}
#signup h1{
	padding: 10px;
	text-align: center;
}

a:link, a:active, a:visited, a strong {
color: #2e5e86;
text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
font-family: sans-serif;
}
body{
	background-color: white ;
}

div {
	display:block;
}
