<div id="categories">
  <%= link_to "Upload Image", upload_path %> - 
	<%= link_to_unless_current "Most Recent", images_path %> - 
	<%= link_to_unless_current "Top Votes", :controller => :images, :action => :votes %>
</div>
<div id="images">
  <div class="page">
    <%= render 'images/image', :images => @images %>
  </div>
</div>
<script type="text/javascript">
(function() {
  var page = 1,
      loading = false;
      category = "<%= @category %>";
      url = "";
  if(category == "recent")
    url = "/images/recent";
  else
    url = "/images/votes";
    
  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: url + '?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage({
           content: function (i, $page) {
               return '';
       }
   });
}());
</script>