<!DOCTYPE html>
<html>
<head>
  <title>Inzomb </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32784744-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body onclick = 'TopUp.close()' >

<div id="banner">
  <span class="banner_image"> <%= link_to image_tag('inzomb_beta_log.JPG', :style => 'width: 226px;left: 0px;position: absolute;'),:controller => :images, :action => :index %>    </span>
  <%= render 'shared/navbar' %>
</div>
        <div id="main">
		<div id="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
